Samples/Umbraco/packages
Samples/Umbraco/.vs/Umbraco7-Course/v15/Server/sqlite3
Samples/Umbraco/Empty/Umbracov7-Empty/App_Data/Logs
Samples/Umbraco/Empty/Umbracov7-Empty/App_Data/TEMP
umbraco.config
Samples/Umbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.dll
Samples/Umbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.dll.config
Samples/Umbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.pdb
Samples/Umbraco/Empty/Umbracov7-Empty/App_Data/preview
Samples/Umbraco/Empty/Umbracov7-Empty/obj
~$20180519-MVC.pptx
Samples/_EmptyMvc/EmptyMvc/bin
Samples/_EmptyMvc/EmptyMvc/obj
Samples/_EmptyMvc/packages
Samples/_EmptyMvc/.vs
~$20180521-Umbraco.pptx
Samples/Demo01/Demo1/obj
Samples/Demo01/Demo1/bin
Samples/Demo01/Demo1/.vs
Samples/Demo01/packages
Samples/Demo02/Demo2/bin
Samples/Demo02/Demo2/obj
Samples/Demo02/packages
Samples/Demo02/Demo2/.vs
Samples/Demo03/Demo3/bin
Samples/Demo03/Demo3/obj
Samples/Demo03/packages
Samples/Demo03/.vs
Samples/Demo04/EmptyMvc/bin
Samples/Demo04/EmptyMvc/obj
Samples/Demo04/.vs
Samples/Demo04/packages
Samples/Demo05/EmptyMvc/bin
Samples/Demo05/EmptyMvc/obj
Samples/Demo05/packages
Samples/Demo05/.vs
Samples/Demo06/.vs
Samples/Demo06/packages
Samples/Demo07/.vs
Samples/Demo07/packages
Samples/Demo08/.vs
Samples/Demo08/packages
Samples/Demo09/packages
Samples/Demo09/.vs
Samples/Demo09/EmptyMvc/bin
Samples/Demo09/EmptyMvc/obj
Samples/Demo10/.vs
Samples/Demo10/packages
Samples/Demo10/EmptyMvc/bin
Samples/Demo10/EmptyMvc/obj
Samples/Demo11/.vs
Samples/Demo11/packages
Samples/Demo11/EmptyMvc/bin
Samples/Demo11/EmptyMvc/obj
Samples/Demo12/.vs
Samples/Demo12/packages
Samples/Demo12/EmptyMvc/bin
Samples/Demo12/EmptyMvc/obj
2018-05-16-LogActionFilter.log
Samples/_EmptyUmbraco/.vs
Samples/_EmptyUmbraco/packages
Samples/_EmptyUmbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.dll
Samples/_EmptyUmbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.dll.config
Samples/_EmptyUmbraco/Empty/Umbracov7-Empty/bin/Umbracov7-Empty.pdb
Samples/_EmptyUmbraco/Empty/Umbracov7-Empty/obj
Slides/20180519-MVC.pdf
Slides/20180521-Umbraco.pdf
Samples/Demo13-31/.vs
Samples/Demo13-31/packages
Samples/Demo13-31/UmbracoDemo1/obj
Samples/Demo13-31/UmbracoDemo1/bin/UmbracoDemo1.dll
Samples/Demo13-31/UmbracoDemo1/bin/UmbracoDemo1.dll.config
Samples/Demo13-31/UmbracoDemo1/bin/UmbracoDemo1.pdb
Samples/Demo13-31/UmbracoDemo1/App_Data/NuGetBackup
Samples/Demo13-31/UmbracoDemo1/App_Data/Logs
Samples/Demo13-31/UmbracoDemo1/App_Data/TEMP
Samples/Demo13-31/UmbracoDemo1/App_Data/Models
Samples/Demo13-31/UmbracoDemo1/App_Data/cache
Samples/Demo32/.vs
Samples/Demo32/packages
Samples/Demo32/UmbracoDemo1/obj
Samples/Demo32/UmbracoDemo1/bin/UmbracoDemo1.dll
Samples/Demo32/UmbracoDemo1/bin/UmbracoDemo1.dll.config
Samples/Demo32/UmbracoDemo1/bin/UmbracoDemo1.pdb
Samples/Demo32/UmbracoDemo1/App_Data/NuGetBackup
Samples/Demo32/UmbracoDemo1/App_Data/Logs
Samples/Demo32/UmbracoDemo1/App_Data/TEMP
Samples/Demo32/UmbracoDemo1/App_Data/Models
Samples/Demo32/UmbracoDemo1/App_Data/cache
Samples/Demo32/.vs
Samples/Demo33/packages
Samples/Demo33/UmbracoDemo1/obj
Samples/Demo33/UmbracoDemo1/bin/UmbracoDemo1.dll
Samples/Demo33/UmbracoDemo1/bin/UmbracoDemo1.dll.config
Samples/Demo33/UmbracoDemo1/bin/UmbracoDemo1.pdb
Samples/Demo33/UmbracoDemo1/App_Data/NuGetBackup
Samples/Demo33/UmbracoDemo1/App_Data/Logs
Samples/Demo33/UmbracoDemo1/App_Data/TEMP
Samples/Demo33/UmbracoDemo1/App_Data/Models
Samples/Demo33/UmbracoDemo1/App_Data/cache
Samples/Demo21/development/.vs
Samples/Demo21/development/Umbraco.Extensions/bin
hybrid-framework-6.1.6-best-practises.bak
Umbraco.Site.dll
Umbraco.Extensions.dll
Samples/Demo21/development/Umbraco.Extensions/obj
Samples/Demo21/development/packages
Umbraco.Extensions.pdb
Umbraco.Site.pdb
Umbraco.Site.dll.config
Samples/Demo21/development/Umbraco.Site/obj
Samples/Demo21/development/Umbraco.Site/App_Data/Logs
Samples/Demo21/development/Umbraco.Site/App_Data/preview
Samples/Demo21/development/Umbraco.Site/App_Data/TEMP
Samples/Demo32/UmbracoDemo32/App_Data/Logs
Samples/Demo32/UmbracoDemo32/App_Data/TEMP
Samples/Demo32/UmbracoDemo32/bin/UmbracoDemo1.dll
Samples/Demo32/UmbracoDemo32/bin/UmbracoDemo1.dll.config
Samples/Demo32/UmbracoDemo32/bin/UmbracoDemo1.pdb
Samples/Demo32/UmbracoDemo32/obj
Samples/Demo33/.vs
Samples/Demo33/UmbracoDemo33/App_Data/Logs
Samples/Demo33/UmbracoDemo33/App_Data/TEMP
Samples/Demo33/UmbracoDemo33/bin/UmbracoDemo1.dll
Samples/Demo33/UmbracoDemo33/bin/UmbracoDemo1.dll.config
Samples/Demo33/UmbracoDemo33/bin/UmbracoDemo1.pdb
Samples/Demo33/UmbracoDemo33/obj
Samples/Demo08/EmptyMvc/bin
Samples/Demo08/EmptyMvc/obj
Samples/Demo10/EmptyMvc/Uploads/logo-dark.png
Samples/Demo10/EmptyMvc/Uploads/logo.png
2018-05-19-LogActionFilter.log
Samples/Demo13-31/UmbracoDemo1/bin/UmbracoDemo1.Extensions.dll
Samples/Demo13-31/UmbracoDemo1/bin/UmbracoDemo1.Extensions.pdb
Samples/Demo13-31/UmbracoDemo1.Extensions/obj
Samples/Demo13-31/UmbracoDemo1.Extensions/bin
Samples/Demo32/UmbracoDemo32/App_Data/Models
Samples/Demo33/24days/.vs
Samples/Demo33/Umbraco.Extensions/obj
Samples/Demo33/24days/App_Data/cache
Samples/Demo33/24days/App_Data/Logs
Samples/Demo33/24days/App_Data/TEMP/ExamineIndexes
Samples/Demo33/24days/App_Data/TEMP/PluginCache
Samples/Demo33/24days/App_Data/TEMP/DistCache
Samples/Demo33/24days/App_Data/TEMP/ClientDependency
Samples/Demo33/24days/bin
Samples/Demo33/24days/obj
Samples/Demo33/24days/packages
Samples/Demo33/Umbraco.Extensions/bin
Samples/Demo13-31/UmbracoDemo1/bin/Release/PublishOutput
Samples/Demo01/.vs
Samples/Demo02/.vs
Ext
