@model EmptyMvc.Models.MyTestModel


    <div>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <fieldset>
                <legend>Test</legend>

                @Html.HiddenFor(model => model.FirstName)

                @Html.TextBoxFor(model => Model.FirstName, new { })
                @Html.ValidationMessageFor(model => Model.FirstName)
                <p>
                    <input type="submit" value="Save" />
                </p>
            </fieldset>
        }

    </div>
