@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SimplePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<div>
    @Model.Content.Body
</div>