

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>    
</head>
<body>
    <div>
        <h1>Venue Detail</h1>
        Venue id: @ViewBag.VenueId<br />
        Name: @ViewBag.VenueName <br />
        Test: @ViewBag.TestFromIndex
        Test 2: @TempData["TestFromIndex"].ToString()
    </div>
</body>
</html>
